.jp-MainMenu .lm-Menu {
    display: flex;
    justify-content: flex-end;
}

.stop-server-button {
  background-color: #B72112;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin-right: 30px;
}

.stop-server-button:hover {
  background-color: darkred;
}

.stop-server-button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}